@charset "utf-8";

/* 웹사이트 전체를 싸는 영역*/
#wrap {}

/* #header_start----- */
#header {
    margin: 0 auto;
    padding: 40px 0 20px 0;
}

#header .inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#header .inner .logo {
    width: 96px;
    height: 110px;
    position: absolute;
    left: 50%; top: -20px;
    margin-left: -48px;
}

#header .inner .logo a {
    font-size: 0;
    line-height: 110px;
    background: url(../img/logo.png) no-repeat center;
    background-size: cover;
    display: block;
}

#header .inner .gnb {
    display: flex;
    justify-content: space-between;
}

#header .inner .gnb h2 {
    display: none;
}

#header .inner .gnb ul {}

#header .inner .gnb ul li {
    display: inline-block;
    margin-right: 20px;
}

#header .inner .gnb ul li:last-child {
    margin-right: 0;
}

#header .inner .gnb ul a {
    font-size: 14px;
    font-weight: bold;
}

/* #main_visual_start----- */
#main_visual {
    padding: 70px 0 80px;
}

#main_visual .inner {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

#main_visual .inner .user_info {
    width: 400px;
    height: 400px;
    background: url(../img/main_visual_deco01.png) no-repeat center #f0fdfa;
    background-position: right bottom;
    background-size: 15%;
}

#main_visual .inner .user_info dl {
    padding: 73px 0 73px 0;
    width: 340px;
    margin: 0 auto;
}

#main_visual .inner .user_info dl dt{
    font-size: 25px;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 40px;
}

#main_visual .inner .user_info dl .user_input{
    width: 310px;
    display: flex;
    justify-content: space-between;
}

#main_visual .inner .user_info dl .user_input ul{}

#main_visual .inner .user_info dl .user_input input[type=submit] {
    width: 80px;
    height: 90px;
    background-color: #0D0D26;
    color: #fff;
    line-height: 12px;
    font-size: 12px;
    font-weight: bold;
}

#main_visual .inner .user_info dl .user_input li {
    margin-bottom: 10px;
    display: block;
}

#main_visual .inner .user_info dl .user_input li input{
    width: 190px;
    font-size: 12px;
    line-height: 12px;
    padding: 11px 14px;
    border: 2px solid #0D0D26;
}

#main_visual .inner .user_info dl .user_check  ul li label {
    font-size: 10px;
}

#main_visual .inner .photo {
    width: 600px;
    height: 400px;
}

#main_visual .inner .photo img {
    width: 100%;
    height: auto;
}

/* #container_start----- */
#container {}

#container .inner {
    width: 1000px;
}

/* #footer_start----- */