@charset "utf-8";

/* 웹사이트 전체를 싸는 영역*/
#wrap {}

.notice {
    height: 33px;
    padding: 0 40px;
    background-color: #3fc;
    color: #191819;
    text-align: center;
    font-size: 12px;
    line-height: 33px;
}

/* #header_start----- */